html {
  font-size: 14px !important;
  height: 100%;
}

body {
  font-family: 'Noto Sans', sans-serif;
  height: 100%;
  line-height: 1.8;
  margin: 0;
  color: #333;
}

#__nuxt {
  height: 100%;
}

ul,
li {
  list-style: none;
}

p {
  margin: 0;
}
